[package]
name = "r402"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
description.workspace = true
categories = [
    "cryptography::cryptocurrencies",
    "finance",
    "network-programming",
]
keywords = ["blockchain", "payments", "x402", "stablecoin", "http-402"]

[package.metadata.docs.rs]
all-features = true

[features]
default = []
tracing = ["dep:tracing"]

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true, optional = true }

[lints]
workspace = true
