name: Publish to crates.io

on:
  push:
    tags:
      - "v*.*.*"

env:
  CARGO_TERM_COLOR: always

jobs:
  call-publish:
    uses: qntx/workflows/.github/workflows/rust-publish.yml@main
    with:
      package: "r402 r402-facilitator"
    secrets:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
